# Sensitive Data
.env
.env.example

# Flutter / Dart
/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.packages
/frontend/build/

# Python / Backend
/backend/__pycache__/
/backend/venv/
/backend/.pytest_cache/